body {
    background-color: #4e7fef;
    color: rgb(255, 255, 255);
    text-align: center;
}
.jogo {
    background-color: #2a2a40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    line-height: 1.6;
    font-size: 18px;
}
.jogo strong {
    color: #4fc3f7;
}

p.textinho {
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    margin: 20px 0;
    white-space: pre-line;
}
p::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.jogo-content {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    gap: 20px; /* Espaço entre a imagem e o texto */

}

.jogo-image {
    width: 350px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

.jogo-text {

    color: #ffffff;
    width: 500px;
    height: auto;
    font-size: 16px; /* Ajuste o tamanho do texto conforme necessário */
    text-align: center;
}


 





h1 {
    color: #ffffff;
    font-family: Comic Sans MS;
}


nav#menu {
    align-items: center;
    color: #ffffff;
    margin: -20px;
}
nav#menu ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    background-color: #34d555;
    list-style: none;
    text-transform: uppercase;
    top: 0px;
    left: 400px;;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
}
nav#menu li {
    display: inline-block;    
    font-size: 16px;
    margin-right: 20px;
    background-color: #34d555;
    padding: 5px 10px;
    margin: 2px;
}